@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    background: url("../images/inmotus%20background.jpg");
    
}

.top_banner {
   width: 100%;
   height: 250px;
    overflow: hidden;
    background: url("../images/water.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    

}

.top_bannerwriting {
   font-size: 37px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
   padding: 0px;
   color: ghostwhite;
   text-align: right;
   transform: rotate(90deg);
   transform-origin: left top 0;
   margin-right: -231px;
   margin-top: -21px;
   font-weight: 500;
}

.top_para_div {
  position: relative;
  float: right;
  margin-right: 20px;
  /*margin-top: 200px; */
  padding: 0px;

}

.profile_pic {
  background-image: url('../images/Promo%20Photo.png'); 
  width: 200px; 
  height: 200px; 
  opacity: 1;
  border-radius: 50%;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  float: left;
  margin-left: 25px;
  margin-top: 25px;
}

#all{
  margin-right: 30px;
  font-size: 14px;
}

.pick_genre{
  text-align: center;
  padding: 7px;
  margin-bottom: 20px;
  background-color: #D2D4DC;
  border-style: groove;
  border-color: #D2D4DC;
}

.btn-genre{
  margin-right: 30px;
  border-style: solid;
  border-color: #828388;
  font-size: 14px;
  font-weight: 700;
}

h1	{
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
   padding: 10px;
}

.allsearch {
    text-align: center;
    padding-bottom: 20px;
}

.writehere_input {
   
}

.searchhere_input {
    margin-left: 5px;
    padding-right: 5px;
}

.phpTable{
  margin-left: 0px;
  margin-right: 500px;
}

table {
    border: 1px solid black;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 20px;
    text-align: left;
    border-right: solid-black;
    border-top: solid-black;
    margin-left: 10px;
    margin-right: 10px;
}

#musicListsDiv{
  padding-left: 315px;
}

#mydate {
  	float: right;
  	font-size:10px;
  	font-weight:normal;	
    padding: 10px;	
}

#myfooter {
  	float: : left;
  	font-size:10px;
  	font-weight:normal;
  	padding: 10px;
}

/*FANCY CSS*/ 

.table-fill {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    max-width: 600px;
    padding:5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}
 

tr {
    border: 1px solid #C1C3D1;
    color:#0c0d14;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
    background:#D9EDF7;
    color: #C9302C;
    border-top: 1px solid #22262e;
}

.backgroundred {
		background-color: red;

}

td {
    background:#FFFFFF;
    padding:20px;
    vertical-align:middle;
    font-weight:300;
    font-size:18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

#musiclistDivGenres {
    width: 100%;
    text-align: center;

}

#musiclistDivMinimal {
    width: 100%;
    text-align: center;

}

.musicFrame {
    width: 70%; 
    height: 150px; 
    padding-bottom: 5px;
  
}



